/* 
Colors 
  #ff9500;
  #a5a5a5;
  #4d4d4d
*/

body {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calculator {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 30em;
}

.display {
  display:flex;
  justify-content: flex-end;
  color: #ffffff;
  background-color: #4d4d4d;
  width: 30em;
}

.buttons {
  
}
.row-1 {
  flex-basis: 1;
}

.button {
  color: #fff;
  background-color: #4d4d4d;
  
}

.button.zero {
  display: flex;
  justify-items: flex-end;
  flex-basis: 2;
}

.button.operator {
  background-color: #ff9500;
}

.button.function {
  background-color: #a5a5a5;
}
